In [1]:
import pandas as pd

df = pd.read_csv('data/cats.csv', header=0)

print(df)

       name   age       breed
0      loki     6   shorthair
1    shadow     3     siamese
2  garfield     2      ocelot

In [2]:
df

       name   age       breed
0      loki     6   shorthair
1    shadow     3     siamese
2  garfield     2      ocelot